.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/d005d786373b5578a93da51b/nachodominguezargenta511475unsplashmin.jpg");
  background-position: 100% 50%;
}
.u-section-2 .u-sheet-1 {
  min-height: 874px;
}
.u-section-2 .u-image-1 {
  width: 195px;
  height: 222px;
  margin: 60px auto 0 0;
}
.u-section-2 .u-text-1 {
  font-family: "Alex Brush";
  font-size: 6.25rem;
  line-height: 1;
  font-weight: 400;
  margin: 0 70px 0 0;
}
.u-section-2 .u-line-1 {
  height: 8px;
  transform-origin: left center;
  width: 667px;
  margin: 9px auto 0 0;
}
.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 42px 503px 0 0;
}
.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 42px auto 60px 0;
  padding: 16px 30px;
}
@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 721px;
  }
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
  .u-section-2 .u-text-2 {
    margin-right: 303px;
  }
}
@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }
  .u-section-2 .u-text-2 {
    margin-right: 83px;
  }
}
@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }
  .u-section-2 .u-text-1 {
    font-size: 6rem;
  }
  .u-section-2 .u-line-1 {
    width: 540px;
  }
  .u-section-2 .u-text-2 {
    margin-right: auto;
  }
}
@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 261px;
  }
  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
  }
  .u-section-2 .u-line-1 {
    width: 340px;
  }
}